{
    "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
    "env": {
        "browser": true,
        "jquery": true,
        
    },
    "globals": {
		"MinnPostMembership": true,
        "minnpost_membership_settings": true,
        "minnpost_membership_data": true
	}
}
