// variables. some of these match variables in minnpost-largo.
$border-color-lighter: #e5e5e5;
$border-color-darker: #cdcdd0;
$color__gray-light: #ababab;
$color__gray-dark: #404040;
$color__gray-darkest: #282828;
$_color-base-gray: #7a7a7a;
$_color-base-red: #801018;
$color__white: #fff;
$color__black: #000;
$content-font-size: 1em;
$cta-spacing: 8px;

$progress-font-size-large: 2.5rem;
$progress-font-size-small: 0.875rem;
$vertical-space: 1em;
$large-title-font-size: 215.4%;
$small-space: 0.8125em; // 13px

// media query sizes. see minnpost-largo for theme queries.
$more-than-logo-screen: 500px;
$medium-margins-too-small: 700px;
$nav-breaks: 768px;
$wrap-header: 830px;
$level-widths-change: 890px;
$nav-wrap-screen: 960px;

// page sizes
$form-max-width: 50%;
$summary-max-width: 45%;

@import "imports/*";

.m-layout-membership {
	width: 100%;
	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}
}

// full width header
.m-membership-support-intro {
	margin-bottom: $vertical-space;
}
// default fieldset
.m-form-membership fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.m-membership-summary, .m-membership-summary-short {
	margin-bottom: $vertical-space;
}
.m-membership-summary {
	display: none;
}

.m-membership-choice-group {
	h1 {
		font-size: 1.25em;
		color: $_color-base-red;
		margin: $vertical-space 0 $vertical-space / 2 0;
	}
	// radios
	.m-form-radios {
		width: 100%;
	}
	.m-form-radios, .m-form-checkboxes {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.m-frequency-group {
			width: 100%;
			display: none;
			&.active {
				display: block;
			}
		}
		.m-form-item {
			position: relative;
			text-align: center;
		}
		input[type="radio"], input[type="checkbox"] {
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
		}
		label {
			width: 100%;
			height: 100%;
			margin: 0 0.0025em;
			padding: 0.75em;
			font-size: 0.975em;
			font-weight: bold;
			cursor: pointer;
			border: 1px solid $border-color-lighter;
			border-radius: $cta-spacing;
			background: $_color-base-gray;
			color: $color__white;
		}
		input:checked + label {
			background-color: $border-color-lighter;
			color: $color__black;
		}
		input:disabled + label::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $border-color-lighter;
			opacity: 0.75;
		}
	}
}

.m-membership-choose-frequency {
	.m-form-radios .m-form-item {
		width: 32%;
	}
}

.m-membership-choice-group.m-membership-choose-amount {
	.m-form-radios .m-form-item {
		margin: 0;
		width: 100%;
		text-align: left;
		display: flex;
	}
	label {
		margin: 0 0 0.75em 0;
		padding: 0.75em 1.5em;
		font-weight: normal;
		strong {
			display: block;
			width: 9em;
			height: 100%;
		}

		.yearly-desc {
			display: none;
		}
	}
	.m-form-item-wrap {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}
	.a-fast-select-currency, .a-fast-select-intro, .a-amount-field {
		display: inline-block;
		margin: 0;
		vertical-align: top;
		position: relative;
	}
	.a-fast-select-currency, .a-fast-select-intro {
		padding: 0.5em 0;
	}
	.a-fast-select-currency {
		z-index: 1;
		position: absolute;
		margin-left: $vertical-space / 2;
		font-size: 1.5em;
	}
	.a-fast-select-intro {
		cursor: pointer;
		padding-top: 0.25em;
		padding-right: 1.5em;
		width: 200px;
		font-size: 1em;
		font-family: Helvetica,Arial,sans-serif;
		line-height: 2.4em;
		padding-left: 2em;
	}
	#amount-item {
		flex: 1;
		display: flex;
		#amount {
			border: 2px solid $_color-base-gray;
			width: 100%;
			padding: 0 4em 0 1.75em;
			border-radius: $cta-spacing;
			text-align: left;
			font-size: 1.2em;
		}
		.a-frequency-text-label {
			margin: 0.75em 0;
			position: absolute;
			right: 1em;
		}
	}
	input#amount, select, button, input.a-button, a.a-button {
		padding: 0.25em 0;
		text-align: center;
		vertical-align: top;
	}
}

.m-membership-choose-gift {
	.m-form-radios .m-form-item {
		width: 49%;
	}
}

.m-form-membership-support .m-membership-form-actions {
	margin: $vertical-space 0;
}

.m-membership-choice-group.m-membership-gift-selector {
	border: 1px solid $color__gray-light;
	padding: $vertical-space / 2;

	.m-select-swag, .m-select-subscription {
		justify-content: flex-start;

		.m-form-item {
			width: 32%;
			margin-left: 0.67%;
		}
	}

	.min-amount, .swag-eligibility {
		display: none;
		&.active {
			display: initial;
		}
	}

	p.swag-eligibility.active {
		display: block;
	}

	.m-form-radios .m-form-item, .m-form-checkboxes .m-form-item {
		label {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
			background: inherit;
			color: inherit;
			border: 3px solid transparent;

			figure {
				margin: 0;
				height: 126px;
				figcaption {
					text-align: left;
					font-weight: normal;
					font-size: 0.8em;
					line-height: 1.2em;
					margin-bottom: 1.2em;
				}
			}

			.support-tooltip {
				position: absolute;
				visibility: hidden;
				bottom: 0.75em;
				left: unset;
				right: 0.75em;
				z-index: 1;

				.tooltip-text {
					visibility: hidden;
					position: absolute;
					top: 100%;
					left: 50%;
					width: 10em;
					margin-left: -5em;
					padding: $vertical-space / 2;
					z-index: 1;
					background-color: white;
					border: 1px solid $border-color-lighter;
					font-weight: normal;
					text-align: center;
				}
				.tooltip-text::after {
					content: "";
					position: absolute;
					bottom: 100%;
					left: 50%;
					margin-left: -5px;
					border-width: 5px;
					border-style: solid;
					border-color: transparent transparent $border-color-lighter transparent;
				}
			}
		}

		input:disabled + label {
			.support-tooltip {
				visibility: visible;
			}
			&:hover .tooltip-text {
				visibility: visible;
			}
		}

		input:checked + label {
			background: transparent;
			border: 3px solid $border-color-lighter;
		}
		input:disabled + label::after {
			border-radius: $cta-spacing;
			background-color: $color__gray-light;
		}
		input:checked:disabled + label {
			border: 3px solid transparent;
		}

	}
}

.m-membership-action {
	padding: $vertical-space;
	margin: $vertical-space 0;
	border: 1px solid $border-color-lighter;
	h2 {
		margin-bottom: $vertical-space / 2;
	}
	p:last-of-type {
		margin-bottom: 0;
	}
	.a-button {
		display: inline-block;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

// media queries

@media screen and (min-width: $more-than-logo-screen) {
	.m-membership-choice-group.m-membership-choose-amount {
		label {
			height: auto;
			strong {
				float: left;
			}
		}
		.a-fast-select-intro {
			padding-left: 6em;
			line-height: 1.2em;
		}
	}
}

@media screen and (min-width: $nav-wrap-screen) {
	.m-layout-membership .m-membership-support-wrapper {
		.m-form-membership {
			max-width: $form-max-width;
			order: -1;
		}
		.m-membership-summary-short {
			display: none;
		}
		.m-membership-summary {
			display: block;
			max-width: $summary-max-width;
			margin: $vertical-space 0;
		}
	}
}

// ie 10 and under and no javascript - dependent on modernizr
.no-borderimage, .no-js {
	.m-member-level-brief {
		.flipper, .amount, .enter {
			height: auto;
			width: 100%;
			position: relative;
			top: auto;
			left: auto;
		}
		.enter select, .amount .a-button {
			display: none;
		}
	}
}
