// variables
$border-color-lighter: #e5e5e5;
$border-color-darker: #cdcdd0;
$vertical-space: 1em;

.m-layout-membership {
	width: 100%;
	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}
}
.m-membership-support-intro {
	margin-bottom: $vertical-space;
}
.m-form-membership fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.m-membership-summary {
	margin-bottom: $vertical-space;
}

.m-membership-fast-select {
	font-size: 1.5em;
	text-align: center;
	border: 0;
	margin: $vertical-space * 2 0 $vertical-space 0;
	padding: 0;
	min-width: 0;
	.m-form-item-wrap {
		margin: 0 0 $vertical-space / 2 0;
	}
	.a-fast-select-currency, .a-fast-select-intro, .m-form-item, .m-form-radios, .m-form-radios .m-form-item {
		display: inline-block;
		margin: 0;
		vertical-align: top;
		position: relative;
	}
	.a-fast-select-currency, .a-fast-select-intro {
		padding-top: 0.35em;
	}
	.a-fast-select-currency {
		padding-right: 0.25em;
	}
	.a-fast-select-intro {
		padding-right: 0.5em;
	}
	#amount-item #amount {
		width: 3em;
		padding: 0.35em 0;
		border: 1px solid #ccc;
	}
	input#amount, select, button, input.a-button, a.a-button {
		padding: 0.25em 0;
		text-align: center;
		vertical-align: top;
	}
	.m-form-radios {
		input[type="radio"] {
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
		}
		label {
			display: inline-block;
			margin: 0 0.0025em;
			padding: 0.75em;
			font-size: 0.65em;
			font-weight: bold;
			cursor: pointer;
			border: 1px solid $border-color-lighter;
		}
	}
}

.m-form-membership-support .m-membership-form-actions {
	margin: 2em 0 1em 0;
	text-align: center;
}

.a-show-level {
	display: inline-block;
	font-size: 0.65em;
	margin: 1.75em 0 0;
	padding: $vertical-space / 2;
}

.o-membership-member-levels {
	margin: 3em 0 $vertical-space 0;
	padding: 0;
	min-width: 0;
	.m-membership-member-level {
		margin-bottom: $vertical-space * 2;
		.m-member-level-brief {
			border: 1px solid $border-color-lighter;
			padding: 0.5em;
			margin-bottom: $vertical-space * 2;
			text-align: center;
			h2 {
				margin: 0 0 0.5em 0;
				padding: 0.5em 0;
				line-height: normal;
			}
			h3 {
				font-size: 3em;
				min-height: 75px;
				display: block;
				line-height: normal;
				margin: 0;
				padding: 0 0 0.25em 0;
				&.smaller {
					font-size: 2.85em;
				}
			}
			.a-button {
				line-height: normal;
				margin-right: 0;
			}
			.amount {
				.a-button-flip {
					margin: 0;
				}
			}
			.enter {
				text-align: center;
				backface-visibility: hidden;
				transform: perspective(800px) rotateY(180deg);
				h3 {
					.m-form-item {
						display: inline-block;
						margin: 0;
						input {
							width: 3em;
							text-align: center;
							height: auto;
							line-height: normal;
							margin: 0;
							padding: 0;
							border: 1px solid #999;
						}
					}
				}
				.a-button {
					display: block;
					margin: 0 auto 0.75em auto;
				}
			}
			.flipper, .flipper .amount, .flipper .enter {
				height: 190px;
				width: 100%;
			}
			.flipper {
				position: relative;
				.amount, .enter {
					position: absolute;
					left: 0;
					top: 0;
					transition: 0.6s;
				}
				.enter {
					backface-visibility: hidden;
					transform: perspective(800px) rotateY(180deg);
				}
				.amount {
					backface-visibility: hidden;
					transform: perspective(800px) rotateY(0deg);
				}
			}
			&.flipped {
				.enter {
					transform: perspective(800px) rotateY(0);
			  	}
			  	.amount {
			  		transform: perspective(800px) rotateY(-179.9deg);
				}
			}
		}
		.m-member-level-benefits {
			ul, ul li {
			  list-style: none;
			  padding-left: 0;
			}
			ul {
			  color: #7A7A7A;
			  font-size: 0.9em;
			  li {
				  padding: 0 0.5em;
				  line-height: 1.5em;
				  margin-bottom: 1.5em;
				}
			}
		}
		&:hover .m-member-level-benefits, &.active .m-member-level-benefits {
			ul {
				color: #1a1818;
			}
		}
	}
}

.m-membership-action {
	padding: $vertical-space;
	margin: $vertical-space 0;
	border: 1px solid $border-color-lighter;
	h2 {
		margin-bottom: $vertical-space / 2;
	}
	p:last-of-type {
		margin-bottom: 0;
	}
	.a-button {
		display: inline-block;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.m-all-partners {
	font-size: 1.23em;
	line-height: 1.5em;
	margin-bottom: 0.75em;
	.m-partner-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 0;
		margin-left: 0;
		li {
			padding: 20px;
			width: 44%;
			list-style: none;
		}
		img {
			display: block;
			width: 100%;
		}
	}
}

.m-entry-content.m-partner-offers {
	margin: 1em 0;
	padding: .5em 0;
	.m-partner-offer {
		border: 1px solid $border-color-darker;
		margin-bottom: 1em;
		padding: 0.5em;
		.m-partner-offer-image {
			width: 200px;
			min-width: 200px;
		}
		.m-partner-offer-content {
			.m-partner-offer-header {
				margin-bottom: 0;
			}
			.a-entry-title {
				font-size: 215.4%;
				margin-bottom: 0.25em;
				line-height: 1.15em;
			}
			p {
				margin: 0;
			}
			select {
				margin: 0.25em 0;
			}
			.a-button {
				margin: 0.25em 0;
				display: block;
			}
			a.a-button {
				display: inline-block;
			}
			.a-partner-offer-learn-more {
				display: block;
			}
		}
	}
}

@media screen and (min-width: 700px) {
	.m-membership-member-level {
		width: 46%;
		margin-right: 2%;
		float: left;
	}
	.m-partner-offers {
		.m-partner-offer {
			//clear: both;
			display: flex;
			.m-partner-offer-image {
				margin: 0 1em 0 0;
				//float: left;
			}
			.m-partner-offer-content {
				//float: left;
				//width: auto;
				//max-width: 70%;
			}
		}
	}
}

@media screen and (min-width: 890px) {
	.m-membership-member-level {
		width: 23%;
	}
	.m-all-partners {
		.m-partner-list {
			li {
				width: 22%;
			}
		}
	}
}

// ie 10 and under and no javascript - dependent on modernizr
.no-borderimage, .no-js {
	.m-member-level-brief {
		.flipper, .amount, .enter {
			height: auto;
			width: 100%;
			position: relative;
			top: auto;
			left: auto;
		}
		.enter select, .amount .a-button {
			display: none;
		}
	}
}

.no-borderimage .m-all-partners .m-partner-list {
	display: block;
	li {
	  display: inline-block;
	}
}
