// this is the support menu
.m-support-progress {
	margin: 0;
	ol {
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		counter-reset: li;
	
		li {
			flex: 1;
			position: relative;
			margin: 0;
			padding: 0;

			a,
			span {
				display: block;
				text-decoration: none;
				background: neutral-color(light);
				color: neutral-color(black);

				&:before {
					content: none;
					counter-increment: li;
					color: neutral-color(black);
					top: 0;
					left: 0.25em;
					position: absolute;
					line-height: 1;
				}
			}

			a:hover,
			a:focus,
			a:active,
			a.active,
			span.active {
				text-decoration: none;
				background: neutral-color(dark);
				color: neutral-color(white);

				&:before {
					color: neutral-color(white);
				}
			}

		}
	}
}

// media queries
@media screen and (min-width: $size__sm) {
	.m-support-progress {
		ol {

			li {

				a,
				span {

					&:before {
						content: counter(li, decimal);
					}
				}
			}
		}
	}
}