// this is the support menu
.m-support-progress {
	margin: 0.625rem 0 0.625rem * 2 0;
	ol {
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;
		background: $_color-base-gray;
		display: flex;
		counter-reset: li;
	}
	li {
		flex: 1;
		position: relative;
	}
	a, span {
		display: block;
		padding: $small-space;
		text-decoration: none;
		transition: background-color 0.1s linear;
	}
	a:hover, a:focus, a:active, a.active, span.active {
		background: $color__gray-dark;
		color: #fff;
		text-decoration: none;
	}
	a:before, span:before {
		content: none;
		counter-increment: li;
		top: 0;
		left: 1rem;
		position: absolute;
		color: $color--gray-light;
		font-size: $progress-font-size-large;
	}
}

// media queries
@media screen and (min-width: $size__xs) {
	.m-support-progress {
		a, span {
			font-size: $progress-font-size-small;
			padding: $small-space 0 $small-space 3em;
		}
		a:before, span:before {
			content: counter(li, decimal);
			top: -0.15em;
			font-size: $progress-font-size-large;
		}
	}
}

@media screen and (min-width: $medium-margins-too-small) {
	.m-support-progress {
		a, span {
			font-size: $content-font-size;
		}
	}
}
