.m-all-partners {
	margin-bottom: $standard-heading-margin;
	
	.m-partner-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 0;
		margin-left: 0;
	
		li {
			padding: $standard-block-padding;
			width: 44%;
			list-style: none;
		}
	
		img {
			display: block;
			width: 100%;
		}
	}
}

.m-entry-content.m-partner-offers {
	margin: $standard-block-margin 0;
	padding: $standard-heading-margin 0;
	
	.m-partner-offer {
		border: $border-default-style;
		margin-bottom: $standard-block-margin;
		padding: $standard-heading-margin;
	
		.m-partner-offer-image {
			width: 200px;
			min-width: 200px;
		}
	
		.m-partner-offer-content {
	
			.m-partner-offer-header {
				margin-bottom: 0;
			}
	
			.a-entry-title {
				//font-size: 215.4%;
				//margin-bottom: 0.25em;
				//line-height: 1.15em;
			}

			p {
				margin: 0;
			}

			select {
				margin: 0.25em 0;
			}

			.a-button {
				margin: 0.25em 0;
				display: block;
			}

			a.a-button {
				display: inline-block;
			}

			.a-partner-offer-learn-more {
				display: inline-block;
			}
		}
	}
}

.m-membership-action {
	padding: $standard-block-margin;
	margin: 0 0 $standard-block-margin 0;
	border: $border-default-style;
	
	h2 {
		margin-bottom: $standard-heading-margin;
	}
	
	p:last-of-type {
		margin-bottom: $standard-block-padding;
	}
	
	.a-button {
		display: inline-block;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

// media queries
@media screen and (min-width: $medium-margins-too-small) {
	.m-partner-offers {
		
		.m-partner-offer {
			display: flex;
		
			.m-partner-offer-image {
				margin: 0 1em 0 0;
			}
		}
	}
}

@media screen and (min-width: $level-widths-change) {
	.m-all-partners {
		
		.m-partner-list {
		
			li {
				width: 22%;
			}
		}
	}
}

// ie old - dependent on modernizr
.no-borderimage .m-all-partners .m-partner-list {
	display: block;
	
	li {
	  display: inline-block;
	}
}
