// basically use default WP table styles, here, unless it makes sense to do otherwise
.m-donation-history {
	margin-bottom: $standard-block-margin;
	
	table {
		border: $border-default-style;
		box-shadow: 0 1px 1px rgba(0,0,0,.04);
		border-spacing: 0;
		width: 100%;
		clear: both;
		margin: 0;
		
		td,
		th {
			padding: 8px 10px;
		}
		
		td,
		th,
		thead td {
			text-align: left;
		}
		
		td,
		thead th {
			border-bottom: $border-default-style;
		}
		
		> tbody > :nth-child( 2n+1 ) {
	    	background-color: neutral-color(highlight);
		}
	}
}
